<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Payment voucher edit page of

    {% for c in company%}
    {{c.name}}
    {% endfor %}
<br>
    Date :
    <input type="text" value="{{p_date.date}}">
    <br>
    
    {% for v in voucher_name %}
    Voucher name:{{ v.voucher.voucher_name }}
    {% endfor %}
    <br>
    {% for v in voucher_name %}
    Voucher no:{{ v.pid }}
    {% endfor %}


<br>
    Account:
    <select name="acc" id="account_select">
        {% for a in account %}
            <option value="">{{ a.account }}</option>
        {% endfor %}
    </select>
<br>
Current Balance:
{% for a in r_amount %}
   {{a.amount}}
{% endfor %}

<br>
    Particular:
    <select name="idlbl" id="particular_select">
        {% for p in particulars %}
        <option value="">{{ p.particular }}</option>
        {% endfor %}
    </select>
<br>
    Narration : 
    
    <input name="" value="{{narrations.narration}}" type="text">
    <br>
    <br>
    Amount :
    <input type="text" value="{{p_amount.amount}}">
    <br>

    Total :
    <input type="text" name="">

<br>
    <button type="submit">save</button>
  
</html>